<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-braintree-applepay" version="0.1.1">
    <name>BraintreeApplePay</name>
    <description>Cordova Braintree Apple-Pay</description>
    <license>Apache 2.0</license>
    <keywords>cordova,payment,braintree,applepay</keywords>
    <repo>git@github.com:ballplayer88/cordova-plugin-braintree-applepay.git</repo>

    <preference name="APPLE_PAY_MERCHANT" />

    <engines>
      <engine name="cordova-ios" version=">=3.5.0" />
    </engines>

    <platform name="ios">
      <js-module src="www/BTApplePay.js" name="BTApplePay">
        <clobbers target="BTApplePay" />
      </js-module>

      <header-file src="src/ios/CDVBTApplePay.h"/>
      <source-file src="src/ios/CDVBTApplePay.m"/>

      <config-file target="config.xml" parent="/*">
	        <feature name="BTApplePay">
	            <param name="ios-package" value="CDVBTApplePay"/>
	        </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="ApplePayMerchant">
            <string>$APPLE_PAY_MERCHANT</string>
        </config-file>

        <config-file target="*.entitlements" parent="com.apple.developer.in-app-payments">
          <array>
            <string>$APPLE_PAY_MERCHANT</string>
          </array>
        </config-file>

        <framework src="lib/ios/BraintreeVenmo.framework" custom="true" />
        <framework src="lib/ios/BraintreeUI.framework" custom="true" />
        <framework src="lib/ios/BraintreePayPal.framework" custom="true" />
        <framework src="lib/ios/BraintreeDataCollector.framework" custom="true" />
        <framework src="lib/ios/BraintreeCore.framework" custom="true" />
        <framework src="lib/ios/BraintreeCard.framework" custom="true" />
        <framework src="lib/ios/BraintreeApplePay.framework" custom="true" />
        <framework src="lib/ios/Braintree3DSecure.framework" custom="true" />

        <framework src="AddressBook.framework" />
        <framework src="PassKit.framework" />
        <framework src="Foundation.framework" />
        <framework src="Security.framework" />
    </platform>
</plugin>
